<app-header></app-header>
<div class="container-fluid">
    <!--Main Navigation-->
    <div class="row">
        <div class="col-sm-1">
            <nav id="sidebarMenu" class="d-lg-block sidebar bg-white">
                <div class="position-sticky">
                    <div class="list-group list-group-flush">
                        <a routerLink="/home" class="list-group-item list-group-item-action py-4">
                            <span>MEDJD</span>
                        </a>
                        <a href="https://www.facebook.com/" class="list-group-item list-group-item-action py-4">
                            <span>Facebook</span>
                        </a>
                        <a href="https://www.instagram.com/" class="list-group-item list-group-item-action py-4">
                            <span>Instagram</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>


        <div class="col-sm-11">
            <div class="slider">
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <div class="slide first">
                        <img src="../assets/slide1.jpg">
                    </div>
                    <div class="slide second">
                        <img src="../assets/slide2.jpg">
                    </div>
                    <div class="slide third">
                        <img src="../assets/slide3.jpg">
                    </div>
                    <div class="slide fourth">
                        <img src="../assets/slide4.jpg">
                    </div>
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                    </div>
                </div>
                <div class="manual-navigation">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 red"></div>
        <div class="col-sm-6 white">
            <h2 class="news">Latest games</h2>
        </div>
    </div>

    <div class="games">
        <div class="g row" *ngFor="let master of responseMasterClasses">
            <div class="col-sm-9 text">
                <h4 class="title">{{master.title}}</h4>
                <p class="description">{{master.description}}</p>
            </div>
            <div class="col-sm-3 image">
                <img class="cover" src="{{master.image_dir}}">
            </div>
        </div>
    </div>

    <div class="covers">
        <h3>Games</h3>
        <a class="more" routerLink="/games">All Games</a>
        <div class="c row">
            <div class="col-sm-3" *ngFor="let game of responseGames">
                <img class="gamesImg" src="{{game.image_dir}}">
                <p class="authors">{{game.name}}</p>
            </div>

        </div>
    </div>

    <div class="button">
        <p (click)="topFunction()" id="myBtn" title="Go to top">Back to the Top</p>
    </div>


</div>
