<div class="container">
    <div class="image">
        <img src="../assets/logo.png">
    </div>
    <form [formGroup]="registerForm" (submit)="register()">
        <div class="fields">
            <div class="inputs">
                <input class="form-control email" placeholder="E-mail" formControlName="email">
                <input class="form-control pass" placeholder="Password" formControlName="password" type="password">
                <input class="form-control ConfPass" placeholder="Confirm Password" formControlName="cpass" type="password">
            </div>
            <div class="buttons">
                <a>
                    <button class="create" type="submit" [disabled]="registerForm.invalid">Create</button>
                </a>
                <a routerLink="/register">
                    <button class="cancel">Cancel</button>
                </a>
            </div>
        </div>
    </form>
</div>
