<app-header></app-header>
<div class="container-fluid">
    <!--Main Navigation-->
    <div class="row">
        <div class="col-sm-12">
            <nav id="sidebarMenu" class="d-lg-block sidebar bg-white">
                <div class="position-sticky">
                    <div class="list-group list-group-flush">
                        <a routerLink="/home" class="list-group-item list-group-item-action py-4">
                            <span>MEDJD</span>
                        </a>
                        <a href="https://www.facebook.com/" class="list-group-item list-group-item-action py-4">
                            <span>Facebook</span>
                        </a>
                        <a href="https://www.instagram.com/" class="list-group-item list-group-item-action py-4">
                            <span>Instagram</span>
                        </a>
                    </div>
                </div>
            </nav>
            <div class="content-texto">
                <h1>About this course</h1>
                <h4>Master of Engineering in Digital Game Development</h4>
                <section class="boxes">
                    <div class="image">
                        <img src="../assets/about_image.jpeg">
                    </div>
                    <div class="details">
                        <div class="contacts">
                            <h4 class="cont">Contacts</h4>
                            <p class="rua">Campus do IPCA, Lugar do Aldão, 4750-810, Barcelos</p>
                            <p class="tel"><b>Tel:</b> 253 802 190</p>
                            <p class="email"><b>Email:</b> est@ipca.pt</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="box">
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra, turpis euismod sodales pharetra, neque dolor pellentesque velit, eget sagittis est ante auctor nisl. Proin posuere leo eu massa posuere, vel ullamcorper mauris suscipit. Ut fermentum quis magna nec bibendum. Etiam ultrices lacinia congue. Aliquam sollicitudin massa et libero dapibus congue. Suspendisse sed metus et turpis interdum efficitur. Sed porta iaculis est, eu vehicula libero ornare eget. Morbi pharetra imperdiet enim in gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Integer elit dui, vestibulum tempor nunc eu, lobortis accumsan nisl. </p>
                </div>
            </div>

        </div>
    </div>
</div>

