

.navbar{
    background-color: #181818;
    width: 95%;
    padding: 0;
}

.navbar-toggler {
    outline: none;
    padding: 0;
    margin-right: 20px;
}

.navbar-toggler img {
    width: 35px;
}



.navbar-brand img{
    width: 45%;
}

.nav-link {
    color: #ffffff;
    font-size: 22px;
    margin-right: 50px;
}

.nav-link:hover{
    color: #ffffff ;
}

.nav-link:focus{
    color: #E50040 ;
}

  /* Sidebar */

.container{
    margin: 0%;
}

.sidebar {
    position: relative;
    bottom: 0;
    top: 80px;
    left: 0;
    width: 70px;
}

.sidebar, content-texto{
    float:left;
}


a.list-group-item{
    margin-top: 50px;
    transform: rotate(-90deg);
    border: none;
}

a.list-group-item:nth-child(1) > span:nth-child(1){
    color: #E50040;
}





.top{
    width: 90%;
    display: grid;
    justify-content: center;
}





h1{
    margin-top: 50px;
}
h1 a u, h4{
    color:#181818;
    display: grid;
    justify-content: center;
}

h4{
    margin-top: 20px;
}

.max1000{
    width: 1000px;
    
}

.iframe-content{
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-content iframe{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}


.box{
    background-color: #dadada;
    padding:2%;
    margin-left: 5%;
    width:85%;
}

h2{
    margin-left: 5%;
}

.descriptionZ{
    display:flex;
    justify-content: center;
}

.descriptionZ p{
    margin-top: 10px;
}

.cover{
    margin-right: 2%;
    margin-left: 10%;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    min-width: 100px;
    min-height: auto;
}

.box, .button{
  float:left;
}

.button{
  width:10%;
  transform: rotate(-90deg);
  margin-top:25%;
}

#myBtn {
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  color: #E50040;
}
