

.navbar{
    background-color: #181818;
    width: 95%;
    padding: 0;
}

.navbar-toggler {
    outline: none;
    padding: 0;
    margin-right: 20px;
}

.navbar-toggler img {
    width: 35px;
}



.navbar-brand img{
    width: 45%;
}

.nav-link {
    color: #ffffff;
    font-size: 22px;
    margin-right: 50px;
}

.nav-link.active{
    color: #E50040;
    font-size: 22px;
    margin-right: 50px;
}

.nav-link:hover{
    color: #ffffff ;
}

.nav-link:focus{
    color: #E50040 ;
}

  /* Sidebar */

.container{
    margin: 0%;
}

.sidebar {
    position: relative;
    bottom: 0;
    top: 80px;
    left: 0;
    width: 70px;
}

.sidebar, content-texto{
    float:left;
}

.content-texto{
    margin-left: 75px;
    margin-right: 75px;
    display: grid;
    justify-content: center;
}

a.list-group-item{
    margin-top: 50px;
    transform: rotate(-90deg);
    border: none;
}

a.list-group-item:nth-child(1) > span:nth-child(1){
    color: #E50040;
}

h1{
    margin-top: 50px;
    color:#181818;
    display: grid;
    justify-content: center;
}


.box{
    background-color: #dbdbdbfb;
    margin-top:10px;
    position:absolute;
    margin-left: 15%;
    border-radius: 10px;
    width: 68%;
    height: auto;
}

.titles{
    margin-top: 4%;
    margin-left: 15%;
    width: 68%;
    height: auto;
    display: flex;
    justify-content: center;
}


.content{
    margin-left: 15px;
    margin-top: 5px;
    padding: 5px;
    max-width:100%;
    height: auto;
}

h4.semester{
    margin-left: 4%;
    max-width: 20%;
}

.year, .name{
    display: flex;
    justify-content: center;
}

h4.ects{
    display: flex;
    justify-content: end;
    max-width: 20%;
    margin-right: 5%;
}


