
.container{
    margin: 0%;
}

.sidebar {
    position: relative;
    bottom: 0;
    top: 80px;
    left: 0;
    width: 70px;
}

.sidebar, content-texto{
    float:left;
}

.content-texto{
    margin-left: 75px;
    margin-right: 75px;
    display: grid;
    justify-content: center;
}

a.list-group-item{
    margin-top: 50px;
    transform: rotate(-90deg);
    border: none;
}

a.list-group-item:nth-child(1) > span:nth-child(1){
    color: #E50040;
}

h1{
    margin-top: 50px;
    color:#181818;
    display: grid;
    justify-content: center;
}


.box{
    margin-top:50px;
    position:absolute;
    margin-left: 15%;
    border-radius: 10px;
}

.image, .content{
    float:left;
}

.image{
    max-width: 30%;
    height: auto;
    margin-right: 10px;
}

.content{
    margin-left: 15px;
    margin-top: 40px;
    padding: 5px;
    height: auto;
    background-color: #dbdbdbfb;
    width: 80%;
    margin-bottom: 2%;
}

.content-fluid a{
    color: #181818;
}

.desc{
    margin-top: 30px;
    font-size: 20px;
}

.ano, .data{
    float:left;
    position: relative;
    font-size: 20px;
}

.data{
    margin-left: 50%;
}











.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 41, 41, 0.704);
    display: none; /* Ocultar por padrão */
    z-index: 99;
  }
  .overlay1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffa5;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 99;
  }

  #ClassSubmit, #cancel{
    background-color: #E50040;
    color: #fff;
    border-radius: 10px;
    height: 40px;
    margin-top: 10px;
  }

  #AddBtn{
    border: transparent;
    background-color: #ffffff;
    color: #E50040;
    font-size: 18px;
  }

  input{
    margin-bottom: 15px;
    border-radius: 10px;
    width: 350px;
    padding: 5px;
  }


  .button{
    width:10%;
    transform: rotate(-90deg);
    margin-left: 93%;
    margin-top: 35%;
  }
  
  #myBtn {
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    color: #E50040;
  }
  