<app-header></app-header>
<div class="container-fluid">
    <!--Main Navigation-->
    <div class="row">
        <div class="col-sm-12">
            <nav id="sidebarMenu" class="d-lg-block sidebar bg-white">
                <div class="position-sticky">
                    <div class="list-group list-group-flush">
                        <a routerLink="/home" class="list-group-item list-group-item-action py-4">
                            <span>MEDJD</span>
                        </a>
                        <a href="https://www.facebook.com/" class="list-group-item list-group-item-action py-4">
                            <span>Facebook</span>
                        </a>
                        <a href="https://www.instagram.com/" class="list-group-item list-group-item-action py-4">
                            <span>Instagram</span>
                        </a>
                    </div>
                </div>
            </nav>
            <div class="content-texto">
                <h1>Master Classes</h1>
            </div>

            <div class="add row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <button class="newClass" id="AddBtn" (click)="showOverlay()">Add New Class</button>
                </div>
            </div>

            <div class="overlay" id="overlay">
                <div class="overlay1">
                    <input type="text" id="titleA" placeholder="Título" [(ngModel)]="request.title">
                    <input type="text" id="descriptionA" placeholder="Descrição" [(ngModel)]="request.description">
                    <input type="text" id="image_dirA" placeholder="Link de Imagem" [(ngModel)]="request.image_dir">
                    <input type="text" id="timeA" placeholder="Duração" [(ngModel)]="request.time">
                    <input type="text" id="dateA" placeholder="Data" [(ngModel)]="request.date">
                    <input type="text" id="placeA" placeholder="Local" [(ngModel)]="request.place">
                    <input type="text" id="linkA" placeholder="Link" [(ngModel)]="request.link">
                    <input type="text" id="yearA" placeholder="Ano" [(ngModel)]="request.year">
                    <button id="ClassSubmit" (click)="save()" >Adicionar</button>
                    <button id="cancel" (click)="hideOverlay()">Cancelar</button>
                </div>
            </div>

            <div class="box" >
                <div class="content" *ngFor="let master of responseMasterClasses">
                    <div class="image">
                        <img src="{{master.image_dir}}" class="img-fluid">
                    </div>
                    <div class="content-fluid">
                        <h4 class="title"><a routerLink="/masterClass/{{master._id}}">{{master.title}}</a></h4>
                        <p class="desc">{{master.description}}</p>
                        <div class="linha">
                            <p class="ano"><b>Year: {{master.year}}</b></p>
                            <p class="data">{{master.date}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="button">
            <p (click)="topFunction()" id="myBtn" title="Go to top">Back to the Top</p>
        </div>
    </div>
</div>

