<app-header></app-header>
<div class="container-fluid">
    <!--Main Navigation-->
    <div class="row">
        <div class="col-sm-12">
            <nav id="sidebarMenu" class="d-lg-block sidebar bg-white">
                <div class="position-sticky">
                    <div class="list-group list-group-flush">
                        <a routerLink="/home" class="list-group-item list-group-item-action py-4">
                            <span>MEDJD</span>
                        </a>
                        <a href="https://www.facebook.com/" class="list-group-item list-group-item-action py-4">
                            <span>Facebook</span>
                        </a>
                        <a href="https://www.instagram.com/" class="list-group-item list-group-item-action py-4">
                            <span>Instagram</span>
                        </a>
                    </div>
                </div>
            </nav>


            <div *ngIf="request">
                <div class="content-texto" >
                    <h1>{{request.title}}</h1>
                    <h4>Place: {{request.place}}</h4>
                    <div class="image-fluid">
                        <img src="{{request.image_dir}}">
                    </div>
                    <a class="link" href="{{request.link}}">Website</a>
                    <h4 class="date">On {{request.date}}</h4>
                </div>
                <div class="box-fluid">
                    <h2>OverView</h2>
                    <div class="descriptionZ">
                        <p>{{request.description}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>