<app-header></app-header>
<div class="container-fluid">
    <!--Main Navigation-->
    <div class="row">
        <div class="col-sm-12">
            <nav id="sidebarMenu" class="d-lg-block sidebar bg-white">
                <div class="position-sticky">
                    <div class="list-group list-group-flush">
                        <a routerLink="/home" class="list-group-item list-group-item-action py-4">
                            <span>MEDJD</span>
                        </a>
                        <a href="https://www.facebook.com/" class="list-group-item list-group-item-action py-4">
                            <span>Facebook</span>
                        </a>
                        <a href="https://www.instagram.com/" class="list-group-item list-group-item-action py-4">
                            <span>Instagram</span>
                        </a>
                    </div>
                </div>
            </nav>


            <div *ngIf="request">
                <div class="content-texto" >
                    <h1>{{request.title}}</h1>
                    <h4>Place: {{request.place}}</h4>
                    <div class="image-fluid">
                        <img src="{{request.image_dir}}">
                    </div>
                    <a class="link" href="{{request.link}}">Website</a>
                    <h4 class="date">On {{request.date}}</h4>
                </div>
                <div class="box-fluid">
                    <h2>OverView</h2>
                    <div class="descriptionZ row">
                        <p>{{request.description}}</p>
                        <div class="buttons">
                            <button class="delete" (click)="delete()" routerLink="/masterClass">Eliminar</button>
                            <button class="edit" (click)="showOverlay()">Editar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="overlay" id="overlay">
                <div class="overlay1">
                    <input type="text" id="titleA" placeholder="Título" [(ngModel)]="request.title">
                    <input type="text" id="descriptionA" placeholder="Descrição" [(ngModel)]="request.description">
                    <input type="text" id="dateA" placeholder="Data" [(ngModel)]="request.date">
                    <input type="text" id="placeA" placeholder="Local" [(ngModel)]="request.place">
                    <button id="ChangeSubmit" (click)="save()">Adicionar</button>
                    <button id="cancel" (click)="hideOverlay()">Cancelar</button>
                </div>
            </div>

        </div>
    </div>
</div>