<div class="container">
    <div class="image">
        <img src="../assets/logo.png">
    </div>
    <form [formGroup]="loginForm" (submit)="login()">
        <div class="fields">
            <div class="inputs">
                <input class="form-control email" placeholder="E-mail" formControlName="email">
                <input class="form-control pass" placeholder="Password" formControlName="password" type="password">
            </div>
            <div class="buttons">
                <button type="submit" [disabled]="loginForm.invalid" class="login">Login</button>
                <button class="register">Create Account</button>
            </div>
        </div>
    </form>
</div>

